@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css');

.code-container {
    margin-bottom: 20px; 
}
  
.code-textarea {
    width: 100%;
    min-height: 20px; /* Minimum height to display one line of text */
    padding: 10px;
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
    overflow: auto; 
}
  
.submit-button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.img {
    width: 200px; 
    height: 100px; 
    display: block; 
    margin: 0 auto; 
}

.editor {
    font-family: '"Fira code", "Fira Mono", monospace';
    font-size: 20px;
}